.data {
  position: relative;
  padding: 50px 25px;
  background-color: $dark-blue;
  border-radius: 8px;
  color: $pale-blue;

  .data-text {
    text-align: center;
    margin-top: 0;

    span {
      font-weight: $bold;
    }
  }

  .progress-bar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: $very-dark-blue;
    border-radius: 20px;
    height: 20px;
    margin-bottom: 7px;

    .progress-bar-inner {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      background: $clr-primary;
      border-radius: 20px;
      height: 80%;
      width: 82%;
      margin-left: 3px;
    }

    .progress-bar-ball {
      background: #fff;
      border-radius: 50%;
      width: 14px;
      height: 14px;
      margin-right: 1.5px;
    }
  }

  .data-usage {
    display: flex;
    justify-content: space-between;

    span {
      font-weight: $bold;
    }
  }

  .data-float {
    position: absolute;
    left: 27%;
    bottom: -20%;

    background: $pale-blue;
    text-align: center;
    border-radius: 8px;
    padding: 17px 20px 10px;

    span:not(:last-child) {
      font-weight: $bold;
      font-size: 2.5rem;
      color: $blk;
    }

    span {
      color: $grayish-blue;
      font-size: 0.8rem;
      text-transform: uppercase;
      vertical-align: middle;
    }
  }
} //end data

@media (min-width: $desktop) {
  .data {
    width: 540px;

    .data-text {
      text-align: left;
    }

    .data-float {
      left: 63%;
      bottom: 80%;
      width: 25%;

      &::after {
        position: absolute;
        content: "\25e5";
        font-size: 50px;
        color: $pale-blue;
        bottom: -38px;
        right: -4px;
       
      }
    }
  }
}
