@import "variables";
@import "title";
@import "data";

body {
  font-size: 14px;
  font-family: $raleway;
  max-width: $mobile;
  height: 100vh;
  background-image: url(../images/bg-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;

  .container {
    width: 95%;
    margin: 5rem auto 0.156rem;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
